<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ partial "header.html" . }}
  </head>

  <body class="clearfix">
    {{ if .IsHome }}
      {{ partial "sidebar.html" . }}
    {{ else }}
      {{ partial "navbar.html" . }}
    {{ end }}

    {{ block "content" . }}
    {{ end }}

    {{ if not (.Page.IsHome) }}
      <div class="text-center my-5">
        <a class="text-dark" href="javascript:history.back()">&#x21A4; Back</a>
      </div>
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "citation.html" . }}
  </body>

  {{ partial "footer-scripts.html" . }}

</html>
