{{ $config := .Site.Data.config }}

<section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
  <div class="container">
    <h2 class="heading mb-4">Contact</h2>

    <address>
      <script>document.writeln(decrypt('{{ $config.address }}'));</script>
    </address>

    <address>
      T: &nbsp;&nbsp;<script>document.writeln(decrypt('{{ $config.telephone }}'));</script><br>
      M: &nbsp;<a class="text-body" href="javascript:openCryptLink('{{ $config.email }}');"><script>document.writeln(decrypt('{{ $config.email }}'));</script></a>
    </address>

  </div>
</section>
