{{ $config := .Site.Data.config }}

<title>
  {{ if .IsHome }}
  	{{ .Site.Title }}
  {{ else if .Params.heading }}
		{{ .Params.heading }}
  {{ else }}
		{{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $style := resources.Get "sass/main.scss" | toCSS | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Meta tags -->
<meta name="author" content="{{ $config.author }}">
<meta name="theme-color" content="#000000">

{{ range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
{{ end }}

{{ partial "seo_schema.html" . }}

{{ $crypto := resources.Get "vendor/js/SimpleCrypto.min.js" }}
{{ $mail := resources.Get "js/mailcrypt.js" | minify | fingerprint }}
{{ $js := slice $crypto $mail | resources.Concat "js/head.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}"></script>
