{{/*
  call with: {{ partial "pub-card.html" (dict "item" . "truncate" "number") }}
*/}}


<div class="card mb-3">
  <div class="card-body">
    <a href="{{ .item.RelPermalink }}">
      <h5 class="card-title text-dark">{{ .item.Title }}</h5>
    </a>
    <a href="{{ .item.RelPermalink }}">
      <p class="card-subtitle text-muted">
        {{ partial "pub-info.html" .item }}
      </p>
    </a>
    <a href="{{ .item.RelPermalink }}">
      <div class="card-text text-body">
        {{ .item.Content | truncate .truncate }}
      </div>
    </a>
    {{ partial "pub-buttons.html" .item }}
  </div>
</div>
