{{ $sidebar := .Site.Data.sidebar }}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}{{ $sidebar.displayPicture }}" class="rv rounded-circle mb-3" width="160px">

    <h1 class="rv heading">{{ $sidebar.title }} <span class="rv highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="rv text-muted">{{ $sidebar.description }}</p>

    <div class="rv my-4">
      <span class="social">
        {{ partial "social.html" . }}
      </span>
    </div>

    <a href="#contact" class="rv btn btn-dark btn-lg">Contact</a>

  </div>
</section>
