{{ define "content" }}

<div class="main-content">
	{{ if .Site.Data.skills.active }}{{ partial "skills.html" . }}{{ end }}
	{{ if .Site.Data.experience.active }}{{ partial "experience.html" . }}{{ end }}
	{{ if .Site.Data.services.active }}{{ partial "services.html" . }}{{ end }}
	{{ if .Site.Data.publications.active }}{{ partial "publications.html" . }}{{ end }}
</div>

<div style="z-index: 4; position: relative;">
	{{ if gt (len (where .Data.Pages "Type" "projects")) 0 }}{{ partial "projects.html" . }}{{ end }}
</div>

<div class="main-content">
	{{ partial "contact.html" . }}
</div>

{{ end }}
