{{ define "content" }}

{{ $publications := .Site.Data.publications }}
{{ $items_type := $publications.page_type | default "publications" }}
{{ $query := where site.RegularPages "Type" $items_type }}

<div class="pt-5">
  <div class="container px-4">
    <h1 class="text-center py-4">{{ $publications.title }}</h1>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
      {{ range $query }}
        {{ partial "pub-card.html" (dict "item" . "truncate" $publications.truncateList) }}
      {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}
